body, html {
    max-width: 100%;
    max-height: 100vh;
      background-color: #fafafa; 
  }
  a {
    text-decoration: none;
  }

  * {
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    /*fade*/

#stage {
  margin-top: -2.5em;
    width: 445px;
    height: 600px;
  }

  #stage a {
    position: absolute;
  }
  #stage a img {
    padding: 11px;
max-height: 700px;
  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 5s;
    animation-duration: 1.5s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

/*end*/

    .main {
        margin-top: 2em;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }



 #img {
  width: 100%;
  height: 100%;
  margin-top: -1.6em;
 }
  img{
 max-height: 600px;
      object-fit: contain;
    }


  /*login input*/


  
  .instalogin {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 14px;
    margin-right: 60px;
  }
  
  .loginbox {
    min-width: 350px;
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    border: 1px solid #dadada;
    border-radius: 1px;
    padding: 1em;
padding-bottom: 1.5em;

  }
  
  .instaheading {
display: flex;
justify-content: center;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  .fill {
    margin: 0.6em 0;
    position: relative;
    width: 100%;
    border-radius: 3px;
  }
  
  input {
    padding: 9px 2px 7px 9px;
    font-size: 12px;
    width: 270px;
    height: 38px;
    outline: none;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #efefef;
  }
  
  .loginbutton {
    margin-top: 0.4em;
    text-align: center;
    width: 100%;
    padding: 0.5em;
    border: 1px solid transparent;
    background-color: #3897f0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0.4em;
  }
  .loginbutton:hover
  {
    background-color: #3578ea;
  }
  
  .or {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    margin-top: 0.5em;
    
  }
  .p {
   font-weight: 700;
   font-size: 12px;
  }
  
  .or .line {
    height: 1px;
    width: 40%;
    background-color: #dbdbdb;
  }
  
  .face {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
  
  .facebutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 0.7em;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    color: #385185;
    font-weight: 600;
    background: transparent;
  }
  
  .faceicon {
    max-width: 1.5rem;

  }
  
  .forgot-password {
    margin-top: 0.5em;
    font-size: 12px;
    color: #024384;
    cursor: pointer;
  }
  .forgot-password1 {
    display: none;
  }
  
  .signup {
    color: #3897f0;
    font-weight: 600;
    cursor: pointer;
  }
  
  
/*end of top box*/ 

.bottombox {
    margin-top: 0.7em;
    max-width: 350px;
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 0.6em;
}
.getapp {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
.icons{
    margin-top: -1em;
}
.icon {
    max-width: 150px;
}
  
    /*text hover*/
      
      /* visited link */
      a:visited {
        color: #242f40;
      }
      
      /* mouse over link */
      a:hover {
        color: #3578ea;
        text-decoration: none;
      }
      
      /* selected link */
      a:active {
        color: #5286dd
      }

/*fading animation*/
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*responsive tablet*/
@media screen and (max-width: 875px) {
    .leftsection {
        display: none;
    }
    .forgot-password1 {
      display: none;
    }
}
/*iphone*/

@media screen and (max-width: 600px) {
body,html {
background-color: #ffff;
}
 
   .leftsection, .getapp, .forgot-password {
      display: none;
  }
  .forgot-password1 {
    display: flex;
justify-content: right;
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 12px;
    color: #3897f0;
    cursor: pointer;
    font-weight: bold;
  }

  .loginbox {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    border: none;
    padding: 1em;
padding-bottom: 1.5em;
  }
  input {
    padding: 9px 2px 7px 9px;
    font-size: 12px;
    width: 500px;
    height: 40px;
    outline: none;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #efefef;
  }
  .bottombox {
    margin-top: 6.7em;
    min-width: 572px;
  max-width: 600px;
  }

}
